# Scala 3.8.1 requires JDK 17 or later
common --tool_java_runtime_version=remotejdk_17
common --java_runtime_version=remotejdk_17
build --deleted_packages=examples/01-basics/00-bazel-setup,examples/01-basics/01-hello-world,examples/01-basics/02-transitive-dependencies,examples/01-basics/03-testing,examples/02-scala-native-features/01-zone-allocator,examples/02-scala-native-features/02-pointers,examples/02-scala-native-features/03-c-structs,examples/02-scala-native-features/04-posix-bindings,examples/02-scala-native-features/05-intrinsics,examples/03-interop/01-c-basic,examples/03-interop/02-c-structs-and-strings,examples/03-interop/03-c-advanced,examples/03-interop/04-cpp,examples/03-interop/05-rust,examples/03-interop/06-zig,examples/04-cross-compile/01-cross-compile-hello-world,examples/04-cross-compile/02-cross-compile-with-musl,examples/04-cross-compile/03-cross-compile-with-glibc
query --deleted_packages=examples/01-basics/00-bazel-setup,examples/01-basics/01-hello-world,examples/01-basics/02-transitive-dependencies,examples/01-basics/03-testing,examples/02-scala-native-features/01-zone-allocator,examples/02-scala-native-features/02-pointers,examples/02-scala-native-features/03-c-structs,examples/02-scala-native-features/04-posix-bindings,examples/02-scala-native-features/05-intrinsics,examples/03-interop/01-c-basic,examples/03-interop/02-c-structs-and-strings,examples/03-interop/03-c-advanced,examples/03-interop/04-cpp,examples/03-interop/05-rust,examples/03-interop/06-zig,examples/04-cross-compile/01-cross-compile-hello-world,examples/04-cross-compile/02-cross-compile-with-musl,examples/04-cross-compile/03-cross-compile-with-glibc
