common --tool_java_runtime_version=remotejdk_17
common --java_runtime_version=remotejdk_17
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
build --linkopt="-unwindlib=none"
build --@toolchains_llvm_bootstrapped//config:experimental_stub_libgcc_s=True
